<div ng-controller="SettingsCtrl">
	<header class="box description-box">
		<img class="logo" width="86" height="86" src="">
		<div>
			<p>
				This widget will allow your visitors to leave a drawing on a real-time canvas. You can later download and print the final image, or place it on some other page of your website for others to view.
			</p>
	    </div>
	</header>
    <div wix-ctrl="Accordion">
        <div class="acc-pane">
	        <h3>General Settings</h3>
	        <div class="acc-content">
	        	<ul class="list">
                    <li wix-label="Board Name">
                        <div wix-model="boardName" wix-ctrl="Input" wix-options="{placeholder: 'Enter Board Name'}"></div>
                    </li>
                    <li wix-label="Board Mode">
                        <div wix-model="boardMode" wix-ctrl="ButtonGroup">
						    <button value="drawable">Drawable</button>
						    <button value="locked">Locked</button>
						</div>
                    </li>
	        		<!-- <li wix-label="Moderation">
                        <span class="uilib-text" style="margin-right: 4px">Remove drawing after</span>
                        <div wix-model="numReports" wix-ctrl="Spinner" wix-options="{value: 5, minValue: 2, maxValue:15 }"></div>
                        <span class="uilib-text" style="margin-left: 4px">complaints.</span>
			        </li> -->
                    <li wix-label="Moderation">
                        <button class="uilib-btn btn-black-text btn-small" id="edit-drawings"><i class="icon-edit"></i>Manage Drawings</button>
                    </li>
                    <!-- <li wix-label="New Board">
                        <button class="uilib-btn btn-black-text btn-small"><strong>+</strong> Start New Board</button>
                    </li> -->
		        </ul>

	        </div>
	    </div>
	    <div class="acc-pane">
	        <h3>Canvas Settings</h3>
	        <div class="acc-content">
	        	<ul class="list">
	        		<li wix-label="Printing Size">
                        <div wix-model="paperStandard" wix-ctrl="ButtonGroup">
						    <button value="ANSI">US</button>
						    <button value="ISO">EU</button>
						</div>
                        <div ng-show="paperStandard == 'ANSI'" wix-model="paperTypeANSI" wix-ctrl="Dropdown" wix-options="{width: 145}" >
                            <div ng-repeat="pType in paperTypes.ANSI" value={{pType.value}}>{{pType.name}}</div>
                        </div>
                        <div ng-show="paperStandard == 'ISO'" wix-model="paperTypeISO" wix-ctrl="Dropdown" wix-options="{width: 145}" >
                            <div ng-repeat="pType in paperTypes.ISO" value={{pType.value}}>{{pType.name}}</div>
                        </div>
			        </li>
                    <li wix-label="Background Color">
		        		<div wix-model="canvasColor" wix-param="canvasColor" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-A', startWithOpacity:100}"></div>
		        	</li>
                    <!-- <li wix-label="Background Picture">
                        <button class="uilib-btn btn-small">Upload Picture</button>
                    </li> -->
                    <li wix-label="Border Color">
		        		<div wix-model="borderColor" wix-param="borderColor" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-A', startWithOpacity:100}"></div>
		        	</li>
                    <li wix-label="Border Width">
                        <div wix-model="borderWidth" wix-ctrl="Slider" wix-options="{maxValue:10, preLabel: '0', postLabel: '10', toolTip: true}"></div>
		        	</li>
		        </ul>
	        </div>
	    </div>
	    <div class="acc-pane">
	        <h3>Tool Panel Settings</h3>
	        <div class="acc-content">
	        	<ul class="list">
		        	<li wix-label="Fill Color &amp; Opacity">
		        		<div wix-param="fillColor" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-18', startWithOpacity:100}"></div>
		        	</li>
		        	<li wix-label="Icons Color">
		        		<div wix-param="iconColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-5'}"></div>
		        	</li>
                    <li wix-label="Secondary Color">
		        		<div wix-param="secondaryColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-15'}"></div>
		        	</li>
	        	</ul>
	        </div>
	    </div>
	</div>
</div>
