<div ng-controller="SettingsCtrl">
	<header class="box description-box">
		<img class="logo" width="86" height="86" src="">
		<div>
			<p>
				This widget will allow your visitors to leave a drawing on a real-time canvas. You can later download and print the final image, or place it on some other page of your website for others to view.
			</p>
	    </div>
	</header>
    <div wix-ctrl="Accordion">
        <div class="acc-pane">
	        <h3>General Settings</h3>
	        <div class="acc-content">
	        	<ul class="list">
                    <li wix-label="Board Name">
                        <div wix-model="boardName" wix-ctrl="Input" wix-options="{placeholder: 'Enter Board Name'}"></div>
                    </li>
                    <li wix-label="Board Mode">
                        <div wix-model="canvasStatus" wix-ctrl="ButtonGroup">
						    <button value="active">Drawable</button>
						    <button value="closed">Locked</button>
						</div>
                    </li>
	        		<li wix-label="Moderation">
                        <span class="uilib-text" style="margin-right: 4px">Remove drawing after</span>
                        <div wix-model="numReports" wix-ctrl="Spinner" wix-options="{value: 5, minValue: 2, maxValue:15 }"></div>
                        <span class="uilib-text" style="margin-left: 4px">complaints.</span>
			        </li>
                     <li wix-label="Use Existing Board">
                        <button class="uilib-btn btn-black-text btn-small">Choose out of 5 boards</button>
                    </li>
		        </ul>

	        </div>
	    </div>
	    <div class="acc-pane">
	        <h3>Canvas Settings</h3>
	        <div class="acc-content">
	        	<ul class="list">
	        		<li wix-label="Printing Size">
                        <div wix-model="paperStandard" wix-ctrl="ButtonGroup">
						    <button value="ANSI">US</button>
						    <button value="ISO">EU</button>
						</div>
                        <div ng-show="settings.paperStandard == 'ANSI'" wix-model="canvasSize" wix-ctrl="Dropdown" wix-options="{width: 145}" >
                            <div value="ANSI-A">A (Letter) - 8.5 × 11 in</div>
                            <div value="ANSI-B">B (Tabloid) - 11 × 17 in</div>
                            <div value="ANSI-C">C - 17 × 22 in</div>
                            <div value="ANSI-D">D - 22 × 34 in</div>
                            <div value="ANSI-E">E - 34 × 44 in</div>
                        </div>
                        <div ng-show="settings.paperStandard == 'ISO'" wix-model="canvasSize" wix-ctrl="Dropdown" wix-options="{width: 145}" >
                            <div value="ISO-A4">A4 - 210 × 297 mm</div>
                            <div value="ISO-A3">A3 - 148 × 210 mm</div>
                            <div value="ISO-A2">A2 - 420 × 594 mm</div>
                            <div value="ISO-A1">A1 - 594 × 841 mm</div>
                            <div value="ISO-A0">A0 - 841 × 1189 mm</div>
                        </div>
			        </li>
                    <li wix-label="Background Color">
		        		<div wix-param="canvasColor" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-15', startWithOpacity:100}"></div>
		        	</li>
			        <li wix-label="Background Picture">
                        <button class="uilib-btn btn-small">Upload Picture</button>
			        </li>
		        </ul>
	        </div>
	    </div>
	    <div class="acc-pane">
	        <h3>Tool Panel Settings</h3>
	        <div class="acc-content">
	        	<ul class="list">
		        	<li wix-label="Fill Color &amp; Opacity">
		        		<div wix-param="fillColor" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-7', startWithOpacity:100}"></div>
		        	</li>
		        	<li wix-label="Icons Color">
		        		<div wix-param="borderColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-5'}"></div>
		        	</li>
                    <li wix-label="Secondary Color">
		        		<div wix-param="secondaryColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-3'}"></div>
		        	</li>
	        	</ul>
	        </div>
	    </div>

        <div class="acc-pane">
	        <h3>My Boards - 5 Boards</h3>
	        <div class="acc-content">
	        	<div class="box" wix-scroll="{height:400}">
                    <div style="padding: 15px 8px 0">
                        <button class="uilib-btn btn-large" style="width: 100%;">+ Start New Board</button>
                    </div>
                    <div class="grid cf">
                        <div class="thumbnail">
                            <a class="board-link">
                                <div class="board">
                                    <div class="board-shadow board-name">After Purchase Drawings</div>
                                    <div class="board-shadow board-current">&#10004;</div>
                                    <div class="board-shadow board-view"></div>
                                    <img src="../images/board-thumbnail.png" />
                                </div>
                            </a>
                        </div>
                        <div class="thumbnail">
                            <a class="board-link">
                                <div class="board">
                                    <div class="board-shadow board-name">After Purchase Drawings 2</div>
                                    <div class="board-shadow board-view"></div>
                                    <img src="../images/board-thumbnail.png" />
                                </div>
                            </a>
                        </div>
                        <div class="thumbnail">
                            <a class="board-link">
                                <div class="board">
                                    <div class="board-shadow board-name">After Purchase Drawings 3</div>
                                    <div class="board-shadow board-view"></div>
                                    <img src="../images/board-thumbnail.png" />
                                </div>
                            </a>
                        </div>
                        <div class="thumbnail">
                            <a class="board-link">
                                <div class="board">
                                    <div class="board-shadow board-name">After Purchase Drawings 4</div>
                                    <div class="board-shadow board-view"></div>
                                    <img src="../images/board-thumbnail.png" />
                                </div>
                            </a>
                        </div>
                        <div class="thumbnail">
                            <a class="board-link">
                                <div class="board">
                                    <div class="board-shadow board-name">After Purchase Drawings 5</div>
                                    <div class="board-shadow board-view"></div>
                                    <img src="../images/board-thumbnail.png" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
	        </div>
	    </div>
	</div>
</div>
