.sliders {
  padding: 2px 10px 8px;
}

.sliders .slider {
  color: #ccc;
  padding: 4px 2px;
  height: 16px;
/*   display: table-row; */
/*   vertical-align: middle; */
}


.rangeslider {
  margin: 6px 0;
}


.rangeslider, .rangeslider-fill {
  height: 6px;

  background-color: #ccc;
  position: relative;
  width: 130px;
  display: block;

}

.rangeslider-fill {
  position: absolute;
  top: 0;
}


.rangeslider-handle {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: -6px;
  margin: auto;
  border-radius: 18px;
  height: 18px;
  width: 18px;
  background-color: white;
  box-shadow: 0 0 3px black;
}

.slider .rangeslider, .sliders .label {
  float: left;
  vertical-align: middle;
/*   width: 100% */
}

.sliders .label {
  width: 71px;
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
}


#colors {
  display: none;
}


.simplecolorpicker {
  display: block;
}

.simplecolorpicker .color {
  cursor: pointer;
  cursor: hand;
  display: block;
  outline: none;
  float: left;
  width: 33.33333333%;
  height: 45px;
}


.simplecolorpicker .color[data-selected] {
  border: 1px solid white;
  box-sizing: border-box;
}
