.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


ul, ol, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


#loading {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  font-size: 23px;
}


#loading > span {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
}


#canvas {
  background-color: white;
  height: 100%;
}

#minimap {
  background-color: white;
}


#brush-background {
  background-color: white;
  display: table;
  margin: 0 auto;
}

#brush {
  margin: 3px;
}


.main-body {
  border-width: 0;
  border-style: solid;
  border-color: black;
	position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  min-width: 400px;
  min-height: 400px;
}


.tool-panel {
  display: none;
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 20;
}


.tool-panel li {
  position: relative;
}

.tool-button {
  user-select: none;
  width: 68px;
  height: 52px;
  background-color: #666;
  color: #ccc;
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
  line-height: 80%;
  padding: 0;
  z-index: 0;
  outline: none;
  border: none;
  position: relative;
}


.zoom-buttons .tool-button {
  width: 50%;
  height: 34px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: none;
  border-bottom: none;
}

.zoom-buttons .last {
  border-right: none;
}

.tool-background {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
}

.tab-open .tool-button .tool-background {
  border: none !important;
}

.tab-open .tool-tab {
  display: block;
}

.active .tool-background {
  border-right: 5px solid red;
  background-color: rgba(0, 0, 0, 0.3);
}

.tool-button:active .tool-background {
  background-color: rgba(0, 0, 0, 0.3);
}

.tool-button:hover .style-border {
    border-right: 5px solid red;
}

.invalid {
  color: red !important;
  background-color: #FFCECE !important;
}

.user-input {
  width: 209px;
  border: none;
  margin-bottom: 1px;
  padding: 8px 8px;
  outline: none;
  color: black;
}

.button-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 3px;
}


#start-drawing {
  margin: 3px auto;
  padding: 5px 15px;
  border: 1px solid white;
  outline: none;
  color: white;
  text-shadow: 0 0 1px black;
}

.control-button {
  background-color: red;
}

#start-drawing:active {
  border: 1px solid #999;
}


.tool-tab {
  display: none;
  top: 0;
  left: 68px;
  position: absolute;
  width: 230px;
  padding: 5px;
  background-color: #666;
}

.tool-tab .wrapper {
  z-index: 2;
  position: relative;
  margin-right: 5px;
}

.tool-tab .tool-background {
  background-color: rgba(0, 0, 0, 0.3);
  border-right: 5px solid red;
  z-index: 0;
}
